<p>{{prueba}}</p>


  <button (click)="obtenerFacturas()" >Master</button>
  <div *ngIf="facturas">
    <ul>
      <li *ngFor="let factura of facturas"
        (click)="traerFactura(factura)">
        <h3>   Factura: {{factura.cliente.nombre}}</h3>
        Numero de factura: {{factura.id}}<br>
        Fecha: {{factura.fechaEmision}}<br>
        Subtotal: {{factura.subtotal}}<br>
        Iva: {{factura.iva}}<br>
        Total: {{factura.total}}<br>

      </li>
    </ul>
  </div>

<div *ngIf="detalles">
  <ul>
    <li *ngFor="let detalle of detalles"
      (click)="traerFactura(detalle)">
      <h2>
        Nombre: {{detalle.producto.id}}

      </h2>
      <h2>
        Id: {{detalle.producto.id}}

      </h2>
      <h2>
        Cantidad: {{detalle.cantidad}}

      </h2>
      <h2>
        Precio unitario: {{detalle.valorUnitario}}

      </h2>
      <h2>
        Precio total: {{detalle.precio}}
      </h2>
    </li>
  </ul>
</div>




