<p>{{prueba}}</p>

<div><span>Numero de factura: </span>{{factura.numeroDeFactura}}</div>
<h2>        Detalles de la factura</h2>
<div><span>direccion: </span>{{factura.direccion}}</div>
<div><span>Nombre del cliente: </span>{{factura.nombreCliente}}</div>

<div><span>Emitida el : </span>{{factura.fechadeEmision}}</div>
<div><span>Telefono: </span>{{factura.telefono}}</div>


<div><span>Subtotal: </span>{{factura.subtotal}}</div>

<div><span>IVA: </span>{{factura.iva}}</div>

<div><span>total a pagar: </span>{{factura.total}}</div>

<h2>Mis facturas</h2>
<ul class="heroes">
  <li *ngFor="let factura of Factura"
    [class.selected]="factura === selectedFactura"
    (click)="onSelect(factura)">
    <span class="badge">{{factura.cedula}}</span> {{factura.nombreCliente}}
  </li>
</ul>

<div *ngIf="selectedFactura">

  <h2>{{selectedFactura.nombreCliente | uppercase}} Detalles</h2>
  <div><span>id: </span>{{selectedFactura.numeroDeFactura}}</div>
  <div>
    <label>nombre:
      <input [(ngModel)]="selectedFactura.nombreCliente" placeholder="name"/>
    </label>
  </div>

</div>
